@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@900&display=swap');

:root {
    --primary-color: rgb(0, 119, 255);

}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}

.date {
    text-align: center;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    min-width: 250px;
    height: 70px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 30px;
}

button:hover {
    background-color: #fff;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}